<div class="card room-card shadow-sm h-100 animate__animated animate__fadeInUp">
  <img [src]="room.roomImages?.[0]?.imageURL || 'assets/images/cover.png'" class="card-img-top room-img" alt="Room Image">
  <div class="card-body">
    <h5 class="card-title">{{ room.hotelAssetName }}</h5>
    <p class="card-text mb-1">
      <i class="bi bi-currency-dollar"></i> {{ room.price | number:'1.0-2' }}
    </p>
    <p class="card-text mb-1">
      <i class="bi bi-people"></i> Occupancy: {{ room.maxOccupancy }}
    </p>
    <p class="card-text mb-1">
      <i class="bi bi-door-closed"></i> Type: {{ getRoomType(room.roomType) }}
    </p>
    <a class="btn btn-outline-primary w-100 animate__animated animate__pulse" [routerLink]="['/hotels/details', hotelId, 'room', room.id]">
      View Room <i class="bi bi-arrow-right"></i>
    </a>
  </div>
</div> 