<footer class="site-footer" id="contact">
    <div class="container">

        <!-- This block is shown ONLY on the home page -->
        <div *ngIf="isHomePage; else minimizedFooter">
            <div class="row g-4">
                <div class="col-lg-4">
                    <h5 class="footer-logo mb-3">
                      <img src="../../../../assets/images/Elagy.webp" alt="Elagy Logo" style="height:28px; width:auto; margin-right:8px; vertical-align:middle;" />
                    </h5>
                    <p>Your trusted partner for comprehensive medical tourism experiences worldwide.</p>
                    <div class="social-icons mt-4">
                        <a href="#" class="me-2"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="me-2"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="me-2"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="me-2"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <h5 class="mb-4">Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a  [routerLink]="['/']">Home</a></li>
                        <li><a [routerLink]="['/specialists']">Treatments</a></li>
                        <li><a [routerLink]="['/hotels']">Hotels</a></li>
                        <li><a [routerLink]="['/car-rentals']">Car-Rentals</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <h5 class="mb-4">Medical Services</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Cardiac Surgery</a></li>
                        <li><a href="#">Orthopedics</a></li>
                        <li><a href="#">Dental Care</a></li>
                        <li><a href="#">Fertility</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4">
                    <h5 class="mb-4">Contact Us</h5>
                    <ul class="list-unstyled">
                        <li class="d-flex mb-3"><i class="fas fa-map-marker-alt me-3 pt-1"></i><span>123 Medical Drive, Health City, HC 12345</span></li>
                        <li class="d-flex mb-3"><i class="fas fa-phone me-3 pt-1"></i><span>+1 (555) 123-4567</span></li>
                        <li class="d-flex"><i class="fas fa-envelope me-3 pt-1"></i><span>infoelagy.com</span></li>
                    </ul>
                </div>
            </div>
            <div class="copyright-text text-center">
                <p class="mb-0">&copy; {{currentYear}} Elagy. All rights reserved.</p>
            </div>
        </div>

        <!-- This template is shown on ALL OTHER pages -->
        <ng-template #minimizedFooter>
            <div class="minimized-footer-content">
                <p class="mb-0">&copy; {{currentYear}} Elagy. All rights reserved.</p>
            </div>
        </ng-template>

    </div>
</footer>
