
<div class="banner">
    <h1>Find Hotels</h1>
    <p>Explore our network of accredited hotels for your medical needs.</p>
</div>
<div class="container-fluid mt-4 animate__animated animate__fadeIn">
  <div class="row">
    <!-- Sidebar Filters -->
    <div class="col-lg-3 mb-4">
      <app-hotel-sidebar-filters (filtersChanged)="onFiltersChanged($event)"></app-hotel-sidebar-filters>
    </div>
    <!-- Hotels List -->
    <div class="col-lg-9">
      <div *ngIf="loading" class="text-center my-5">
      </div>
      <div *ngIf="!loading && hotels.length === 0" class="alert alert-info animate__animated animate__fadeIn">
        No hotels found. Try adjusting your filters.
      </div>
      <div class="cards-grid">
        <ng-container *ngFor="let hotel of hotels">
          <app-hotel-card [hotel]="hotel"></app-hotel-card>
        </ng-container>
        <ng-container *ngFor="let empty of getEmptySlots()">
          <div class="card hotel-card card-placeholder" style="visibility:hidden;"></div>
        </ng-container>
      </div>
      <!-- Pagination -->
      <nav *ngIf="!loading && totalPages > 1" class="mt-4">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="goToPage(currentPage - 1)" tabindex="-1">Previous</a>
          </li>
          <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
            <a class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="goToPage(currentPage + 1)">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

