/* Leaflet default skin */
@import "leaflet/dist/leaflet.css";



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 0 !important;
 }
 .navbar + * { margin-top: 0 !important; }

.app-root, app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


footer.bg-dark {
  flex-shrink: 0;
}




