/* Leaflet default skin */
@import "leaflet/dist/leaflet.css";

/* You can add global styles to this file, and also import other style files */
/* Import Bootstrap */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; padding-top: 0 !important; }
.navbar + * { margin-top: 0 !important; }



