<div class="hotel-card">
  <div class="hotel-img-wrapper">
    <img [src]="hotel.assetImages[0].imageURL || 'assets/images/cover.png'" class="hotel-img" alt="Hotel Image">
    <div class="rating-badge">
      <i class="bi bi-star-fill"></i> {{ hotel.starRating || 'N/A' }}
    </div>
  </div>
  <div class="hotel-content">
    <h3 class="hotel-title">{{ hotel.assetName || hotel.firstName + ' ' + hotel.lastName }}</h3>
    <div class="hotel-location">
      <i class="bi bi-geo-alt-fill"></i>
      <span class="location-text">{{ hotel.city }}, {{ hotel.governorateName }}</span>
    </div>
    <div class="hotel-features">
      <span *ngIf="hotel.hasPool" class="feature-badge">
        <i class="bi bi-water"></i> Pool
      </span>
      <span *ngIf="hotel.hasRestaurant" class="feature-badge">
        <i class="bi bi-cup-straw"></i> Restaurant
      </span>
    </div>
    <a [routerLink]="['/hotels/details', hotel.id]" class="view-details-btn">
      View Rooms <i class="bi bi-arrow-right"></i>
    </a>
  </div>
</div>
